@charset "utf-8";

.card:hover figure img {
  transform: scale(1.2);
}

.card > figure > img {
  max-width: 50%;
  max-height: 50%;
}

[data-theme='dark'] .card-body {
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

[data-theme='dark'] .card-bordered {
  border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

@media (max-width: 767px) {
  .item_list[data-scroll=true] {
      grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(320px,1fr);
      overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .item_list[data-scroll=true] {
      grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
      grid-auto-columns: minmax(220px,1fr);
  }
}
