@charset "utf-8";

.card:hover figure img {
  transform: scale(1.2);
}

.card > figure > img {
  max-width: 50%;
  max-height: 50%;
}

[data-theme='dark'] .card-body {
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

[data-theme='dark'] .card-bordered {
  border-color: rgb(31 41 55 / var(--tw-border-opacity));
}
